footer {
	section, .copyright {
		max-width: 380px;
		@include rwd-above("md") {
			max-width: initial;
		}
	}

	.copyright {
        width: 100%;
		@include ff-raleway(700, 9px, 15px);
	}
}

footer section {
    .logo {
		margin-left: -2rem;
		@include rwd-above("md") {
			margin-left: 0;
		}

		img {
			height: 30px;

			@include rwd-above("lg") {
				height: 45px;
			}
		}

		h2 {
			margin: -5px 0 0 -10px;
			//mb 是為了關閉 h2 的預設
			@include ff-raleway(900, 16px, 26px);
		}
	}

	ul {
        padding: 0;
	}
	li > a {
		color: $black;
		@include ff-raleway(700, 12px, 19px);
	}
}
