footer {
    .logo {
        img {
            height: 30px;

            @include rwd-above('lg') {
                height: 45px;
            }
        }

        h2 {
            margin-left: -1rem;
            @include ff-raleway(900, 16px, 26px);
        }
    }

    // .ul {
    //     height: fit-content;
    // }
    li>a {
        color: $black;
        @include ff-raleway(700);
    }
    .copyright {
        @include ff-raleway(700);
    }
}