.get-today {
    background-color: $color-prime;
    text-align: center;

    h2 {
        @include ff-plafairy(900, 42px, 60px);
        color: $white;
    }
    button {
        @include font-size(13px, 21px);
    }
}