/* 架構
-.hero
    └-.container
        └-.hero-wrap
            └-.title > h1
            └-.content > .content-membrane
				└- p
				└- div > btn*2
            └-.hero-img > img
*/
// 變數區
$img-offset: calc(2rem + 5vw);
$img-w: (
	mobile: 300px,
	tablet: 445px,
	desktop: 680px,
) !default;

// 變數區 END
.hero {
	// margin-top: $top-header-h;
	// @include rwd-above('lg') {
	// 	margin-top: $top-header-lg-h;
	// }

	background-color: $white;

	@include rwd-above("sm") {
		background: url(../images/bg1.png) 0 10px / 108% auto no-repeat, $white;
	}
}

.hero-wrap {
	// padding-top: $top-header-h;
	padding-block: 5vh;
	@include rwd-above("sm") {
		padding-block: 10vh;
		min-height: calc(#{map-get($img-w, "desktop")} / 16 * 9);
	}
	@include rwd-above("lg") {
		padding-block: 0;
		min-height: 100vh;
	}
	position: relative;
}

.hero .title,
.hero .content {
	position: relative;
	z-index: 1;
	left: 0;
	@include rwd-above("sm") {
		left: 8vw;
	}
	@include rwd-above("lg") {
		left: 4vw;
	}
}

.hero .title {
	margin-bottom: 10rem;
	@include rwd-above("sm") {
		margin-bottom: 1rem;
	}

	h1 {
		@include ff-plafairy(900, 36px, 38px, 59px);

		text-shadow: 0 3px 3px rgba($black, 0.25), 0 1px 0 $black;
		@include rwd-above("sm") {
			text-shadow: none;
		}
	}
}
//ref: display-3
//  font-size:4rem (min-width:1200px)
//  font-size:calc(1.525rem + 3.3vw)

.hero .content {
	max-width: map-get($img-w, "mobile");

	@include rwd-above("sm") {
		max-width: initial;
		width: 20rem;
	}
	@include rwd-above("md") {
		width: auto;
	}
}

.hero .content-membrane {
	p {
		@include ff-raleway(500, 14px, 12px, 19px);
	}

	button {
		width: 140px;
		border: 3px solid $color-prime;

		@include rwd-above("lg") {
			width: 13rem;
		}
	}
}

.hero-img {
	position: absolute;
	top: 9vh;
	right: 50%;
	transform: translateX(50%);
	aspect-ratio: 16 / 9;
	// margin-top: calc(0px - 8rem);
	// padding-right: 6rem;
	width: map-get($img-w, "mobile");

	@include rwd-above("sm") {
		// margin-top: 0;
		margin-left: calc(0px - #{$img-offset});
		width: map-get($img-w, "tablet");
		right: 6%;
		transform: translateX(0);
	}

	@include rwd-above("lg") {
		width: map-get($img-w, "desktop");
		top: calc((100vh - #{map-get($img-w, "desktop")} / 16 * 9) / 2);
		right: 6vw;
	}
}
