/* 架構
-.hero
    └-.container
        └-.hero-wrap
            └-.title > h1
            └-.content > .content-membrane
				└- p
				└- div > btn*2
            └-.hero-img > img
*/
// 變數區
$img-offset: calc(2rem + 5vw);
$img-w: (
	mobile: 300px,
	tablet: 445px,
	desktop: 680px,
) !default;

// 變數區 END
.hero {
	margin-top: $top-header-h;
	background-color: $white;

	@include rwd-above("md") {
		padding-block: 10vh;
		background: url(../images/bg1.png) 0 0 / 108% auto no-repeat, $white;
	}
	@include rwd-above("lg") {
		padding-block: 0;
		min-height: calc(100vh - #{$top-header-h});
	}
}

.hero-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;

	@include rwd-above("sm") {
		$l-width: auto;
		$r-width: calc(#{map-get($img-w, "mobile")} - #{$img-offset});
		display: grid;
		grid-template-columns: $l-width auto;
		grid-template-rows: auto auto;
	}
	@include rwd-above("md") {
		$l-width: auto;
		$r-width: calc(#{map-get($img-w, "tablet")} - #{$img-offset});
		grid-template-columns: $l-width $r-width;
	}

	@include rwd-above("lg") {
		$l-width: 489px;
		$r-width: calc(#{map-get($img-w, "desktop")} - #{$img-offset});
		grid-template-columns: $l-width $r-width;
	}
}

.hero .title {
	z-index: 1;

	@include rwd-above("sm") {
		grid-column: 1;
		grid-row: 1;
	}

	h1 {
		@include ff-plafairy(900, 36px, 38px, 59px);

		text-shadow: 0 3px 3px rgba($black, 0.25), 0 1px 0 $black;
		@include rwd-above("sm") {
			text-shadow: none;
		}
	}
}
//ref: display-3
//  font-size:4rem (min-width:1200px)
//  font-size:calc(1.525rem + 3.3vw)

.hero .content {
	z-index: 1;
	order: 1;
	max-width: map-get($img-w, "mobile");

	@include rwd-above("sm") {
		order: initial;
		grid-column: 1;
		grid-row: 2;
	}
}

.hero .content-membrane {
	p {
		@include ff-raleway(500, 14px, 12px, 19px);
	}

	button {
		width: 140px;
		border: 3px solid $color-prime;

		@include rwd-above("sm") {
			width: 13rem;
		}
	}
}

.hero-img {
	aspect-ratio: 16 / 9;
	// margin-top: calc(0px - 8rem);
	// padding-right: 6rem;	
	align-self: center;
	width: map-get($img-w, "mobile");

	@include rwd-above("sm") {
		margin-top: 0;
		margin-left: calc(0px - #{$img-offset});
		grid-column: 2;
		grid-row: 1 / 3;
		width: map-get($img-w, "tablet");
	}

	@include rwd-above("lg") {
		width: map-get($img-w, "desktop");
	}
}