/* 架構
-article.stories
    └-.story-case
        └-(.div > h2 + h4)*3
    └-.story-text
        └-.title > h2
        └-.story-text-subscribe
            └-.input-box > input + (.info > span)
            └-.btn-box > button
    └-.story-customer
        └-.title > h2
        └-.brand-box > (brand > img)*5
*/
.stories {
	// 此 class 有兩處使用到
	.title h2 {
		@include ff-plafairy(900, 26px, 28px, 44px);
	}
}

.story-case {
	display: flex;
	flex-direction: column;

	@include rwd-above("md") {
		flex-direction: row;
	}

	justify-content: space-evenly;
	gap: 2rem;

	> div {
		padding: 1rem;

		width: 223px;
		height: 157px;

		@include rwd-above("lg") {
			width: 341px;
			height: 239px;
		}

		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		transition: transform 0.4s;
		&:hover {
			transform: translateY(-4px);
		}

		h2 {
			@include ff-raleway(900, 22px, 34px);

			@include rwd-above("lg") {
				width: 60%;
			}
		}

		h4 {
			@include ff-raleway(700, 12px, 19px);
		}

		&:nth-child(1) {
			background: center / cover url("../images/artilce3.png");
		}

		&:nth-child(2) {
			background: 25% center / 175% auto url("../images/artilce4.png");
		}

		&:nth-child(3) {
			background: 40% 90% / 150% url("../images/artilce5.png");
		}
	}
}

.story-text {
	&-subscribe {
		.input-box .form-control {
			// width: 100%;
			// display: block;
			padding-block: 0.75rem;
			@include font-size(13px, 21px);
		}

		.info span {
			color: $prime;
			@include ff-raleway(500, 12px, 21px);
		}
	}
}

.brand-cell {
	@extend .fx-center;
	@media screen and (max-width: 380px) {
		width: 100%;
	}
	@media screen and (max-width: 767.98px) {
		height: 29px;

		&:nth-child(2) {
			order: -2;
		}

		&:nth-child(3) {
			order: 1;
		}

		&:nth-child(5) {
			order: -1;
		}
	}
}
