.features {
    margin-inline: auto;
	justify-content: space-evenly;
	align-items: center;

	width: 300px;
	@include rwd-above("md") {
		width: auto;
		// width: 710px;
        height: 348px;
	}
	@include rwd-above("lg") {
        height: 550px;
        // height: 348px;
	}
}

$card-w: (
	mobile: 210px,
	lg: 270px,
	xl: 320px,
) !default;
$scale-rate: 120%;
.features .card {
	width: map-get($card-w, 'mobile');

	@include rwd-above("md") {
        .card-img {
    
            &:first-child img {
                width: 100%;
                // object-position: -15px 0;
            }
        }
	}
	@include rwd-above("lg") {
		width: map-get($card-w, 'lg'); 

        .card-img {
    
            &:first-child img {
                width: 100%;
                // object-position: -15px 0;
            }
        }
	}
	@include rwd-above("xl") {
        .card-img {
    
            &:first-child img {
                width: $scale-rate;

                $offset: calc( 0 - #{map-get($card-w, 'xl')} * 0.1 / 2);
                // @error '$offset = ' + $offset;
                object-position: -22px 0;
            }
        }
	}

	

	.card-img {
        aspect-ratio: 4 / 3;
		overflow: hidden;
	}
	p {
		@include ff-raleway(500, 12px, 16px);
	}

	a {
		@include ff-raleway(800, 12px, 16px);

		&:link,
		&:visited {
			color: $color-prime;
		}
	}
}

.features .info {
    flex-grow: 1;
	max-width: 365px;
    @include rwd-above("xl") {
        max-width: initial;
    }

	h2 {
		@include ff-plafairy(900, 26px, 28px, 44px);
	}
	p {
		@include ff-raleway(400, 12px, 19px);
		// padding-right: 3rem;
        margin-top: 1.5rem;
	}
}
