.reach-more {
	margin-inline: auto;
	aspect-ratio: 16 / 9;
	background: center / cover url("../images/main-img.png");
	text-align: center;
	flex-direction: column;

	width: 100%;
	@media screen and (min-width: 768px) {
		width: 75%;
	}

	h2 {
		@include ff-plafairy(900, 22px, 38px, 60px);
		color: $white;
	}

	&-btn {
		padding: 1rem 2rem;
		border: none;
	}
}
