.features {
    // height: 450px;
    justify-content: space-evenly;
    align-items: end;
    .card:first-child {
        align-self: start;
    }
    .card {
        width: 210px;

        @include rwd-above('lg') {
            width: 320px;
        }

        p {
            @include ff-raleway(500, 12px, 16px);
        }

        a {
            @include ff-raleway(800, 12px, 16px);

            &:link,
            &:visited {
                color: $color-prime;
            }
        }
    }
    .info {
        width: 25rem;
        h2 {
            @include ff-plafairy(900, 44px, 28px);
        }
        p {
            @include ff-raleway(400, 12px, 19px);
            padding-right: 3rem;
        }
    }
}