main {
    padding-top: 1px;
    background: 0 0 / 100% auto no-repeat url("../images/bg.png");

    article {
        margin-top: 10rem;
    }
}
.reach-more {
    margin-inline: auto;
    aspect-ratio: 16 / 9;
    background-image: url("../images/main-img.png");
    text-align: center;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        width: 75%;
    }

    h2 {
        @include ff-plafairy(900);
        color: $white;
    }

    &-btn {
        padding: 1rem 2rem;
        border: none;
    }
}