//===== mixins =====
@mixin nj-btn {
    padding-block: 0.75rem;
    font-family: Raleway;
    font-weight: 900;
    letter-spacing: 2.1px;
    font-size: 1rem;

    @include rwd-above('md') {
        font-size: 1.5rem;

    }
}

@mixin ff-raleway($fw, $fz: 0) {
    font-family: 'Raleway', sans;
    font-weight: $fw;

    @if ($fz != 0) {
        font-size: $fz;
    }
}

@mixin ff-plafairy($fw, $fz: 0) {
    font-family: 'Playfair Display', sans-serif;
    font-weight: $fw;

    @if ($fz != 0) {
        font-size: $fz;
    }
}

//===== functions =====

@function into-rem($fz-px, $isPC: false) {
    @if ($isPC) {
        @return calc($fz-px / 16) + 'rem';
    } @else {
        @return calc($fz-px / 10) + 'rem';
    }
}

//module class
.object-fit-cover {
    width: 100%;
}

.fx-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-green {
    @include nj-btn;
    background-color: $color-prime;
    color: white;
}

.btn-white {
    @include nj-btn;
    background-color: white;
    color: $color-prime;
}