/* 架構
-.top-header
    └-.container-xl
        └-.top-logo
            └-img + h1
        └-.top-btn-wrap
            └-nav + a.btn-fill
*/
.top-header {
    background-color: $white;
    z-index: 99;

    >.hstack {
        height: $top-header-h;

    }
}

.top-logo {
    img {
        height: 52px;
        @include rwd-above('lg') {
            height: 64px;
        }
    }

    h1 {
        margin-left: -1rem;
        @include ff-raleway(900);
        font-size: into-rem(22);
        @include rwd-above('md') {
            font-size: into-rem(22, true);
        }
        @include rwd-above('lg') {
            font-size: into-rem(35, true);
        }
    }
}

.top-btn-wrap {
    min-width: 60%;

    >.btn-fill {
        font-size: 1rem;
        text-align: center;
        flex-basis: 10rem;
    }
}

.top-nav-ul {
    margin: 0;
    display: flex;
    justify-content: space-evenly;

    a {
        display: block;
        border-bottom: 6px solid $color-prime;
        @include ff-raleway(800);
        text-align: center;
        color: $black;
        letter-spacing: 1.27px;

        @media screen and (min-width: 1200px) {
            width: 110px;

        }
    }
}